@font-face {
    font-family: "Montserrat Black";
    src: url("/public/fonts/Montserrat-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Medium";
    src: url("/public/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("/public/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat ExtraBold";
    src: url("/public/fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("/public/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("/public/fonts/Montserrat-Regular.ttf") format("truetype");
}
